<h1 class="d-none title-take">Edit</h1>
<form method="post" action="">
    Name:<br>
    <input type="text" name="name" placeholder="name" value="{SHOPPINGLIST_NAME}" required><br>
    Cost:<br>
    CHF <input type="text" name="cost" placeholder="" value="{SHOPPINGLIST_COST}"><br><br>
    <ul class="ul_editProducts">
        <!--BEGIN PRODUCTS-->
            <a class="a_editProducts" href="?link=shoppinglists&act=remove&pid={PRODUCT_ID}&id={SHOPPINGLIST_ID}">
                <img src="/themes/images/icons/Orion_bin_red.svg">
            </a><li class="li_editProducts">{PRODUCT_NAME}</li>
        <!--END PRODUCTS-->
        {EDIT_PRODUCTS}
    </ul><br>
    <input type="submit" value="Submit">
</form>
