html {
    width                    : 100%;
    height                   : 100%;
    overflow-y               : scroll;
    overflow-x               : hidden;
}

body {
    width: 100%;
    height: 100%;
    font-size: 1.3em;
    font-family: 'Poppins', sans-serif;
    line-height: 1.4em;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    font-weight: 300;
    background-color: #e9ecef;
    margin: 0;
    padding: 0;
    font-family: modern;
}
::selection{
    background-color: #D9D7EC;
}

#content {
    padding-top: 20px;
    padding-bottom: 20px;
}

footer {
    height: 80px;
    background-color: rgba(109, 109, 109, 0.41);
    width: 100%;
    border-top: 2px #cacaca solid;
    bottom: 0;
    position:inherit;
}

h1 {
    text-transform: uppercase;
}
.h2, h2 {
    font-size: 4rem;
    display: unset;
}
a{
    color: #212529;
    text-decoration: none;
}a:hover {
     text-decoration: none;
     color: #e9ecef;
 }
.boxes:hover{
    background-color: #ac6b63;
}
.boxes:hover > a{
    color: #212529;
}
.boxes:hover > a .color-boxes >h2{
    color: #e9ecef;
}
ul.products{
    padding: 0;
    margin: 0;
}
ul .arrow{
    position: absolute;
    margin-left: -35px;
    width: auto;
    height: 30px;
    margin-top: -5px;
}
ul.products li{
    font-size: 1.8em;
    list-style: none;
    margin: 20px 0px;
}
ul.products li img {
    height: 25px;
    margin-top: -5px;
    padding-right: 5px;
}

ul.products a:hover {
    /* color: #9a0f11; */
    font-weight: bold;
    color: #373a3e;
}

.color-boxes.add_new_list h2 {
    color: #eaedef;
    font-weight: bold;
}

header {
    height: auto;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 999;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

header.c7n-search-open {
    top: 110px;
}

header.c7n-small {
    background-color: rgba(20,20,20,0.7);
    border-bottom: 0px solid rgba(255,255,255,0);
}

.fa-plus{
    font-size: 1.7rem;
    color: #df9a91;
}
.fa-plus:hover{
    font-size: 1.7rem;
    color: #df9a91;
}

.c7n-logo {
    max-width: 40%;
    margin-top: 15px;
    margin-bottom: 15px;
    display: inline-block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 900;
    position: relative;
}

.c7n-small .c7n-logo {
    margin-top: 15px;
    margin-bottom: 15px;
}

.c7n-logo img {
    width: auto;
    height: 80px;
    max-width: 100%;
}

.c7n-small .c7n-logo img {
    width: auto;
    height: 30px;
}

#c7n-slider{
    background-color: rgba(20,20,20,1);
    position: relative;
}

#c7n-slider.c7n-small .c7n-slide {
    height: 250px;
    overflow: hidden;
}

.c7n-small .c7n-slide img {
    width: 100%;
    height: 100%;
    display:inline-block;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    object-position: center;
}

.c7n-slide:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    content: "";
    background: -moz-linear-gradient(top,  rgba(15,15,15,0.5) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top,  rgba(15,15,15,0.5) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom,  rgba(15,15,15,0.5) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#007db9e8',GradientType=0 );
    /*
    background: -moz-linear-gradient(top,  rgba(1, 57, 106,1) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(top,  rgba(1, 57, 106,1) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom,  rgba(1, 57, 106,1) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#007db9e8',GradientType=0 );*/
    z-index: 200;
}


.c7n-slide img {
    -webkit-filter: brightness(0.8);
    -moz-filter: brightness(0.8);
    -o-filter: brightness(0.8);
    filter: brightness(0.8);
}

.c7n-intro {
    position: absolute;
    top: 60%;
    left: 50%;
    z-index: 500;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 90%;
}
.c7n-intro.intro-home {
     top: 50%;
 }
.slider-home{
    position: absolute;
}
.footer-home{
    position: absolute;
    padding-bottom: -30px;
}

.c7n-intro h1 {
    font-size: 7.4em;
    line-height: 1em;
    color: rgba(20, 20, 20, 1);
    font-family: langdon;
    text-shadow: -1px 1px #ffffff, -4px 4px 0 #212529;
    letter-spacing: 5px;
}

.forestellySwashesBold{
    font-family: forestellySwashesBold;
}
.forestellySwashesBold.flipped{
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}

/*add button */
#clx-dropdown-navigation.add_new {
    right: 20%;
    color: black;
    margin-bottom: 15px;
    height: auto;
    position: absolute;
    left: unset;
    bottom: unset;
    margin-right: 0;
    z-index: 1;
    width: auto;
}
#clx-dropdown-navigation.add_new li.level-1 > .c7n-icon {
    top: -10px;
}
#clx-dropdown-navigation.add_new ul li.level-1:hover > .c7n-icon .add_new_shadow{
    background-color: #df9a9175;
    box-shadow: 0px 0px 20px 5px #df9a919c;
}
#clx-dropdown-navigation.add_new ul li.level-1:hover > .c7n-icon .add_new_shadow .fa{
    background-color: #df9a91;
    border: 1px solid #df9a91;
}
#clx-dropdown-navigation.add_new ul li.level-1:hover > .c7n-icon.delete .add_new_shadow{
    background-color: #b5000075;
    box-shadow: 0px 0px 20px 5px #b500009c;
}
#clx-dropdown-navigation.add_new ul li.level-1:hover > .c7n-icon.delete .add_new_shadow .fa{
    background-color: #b50000;
    border: 1px solid #b50000;
}
#clx-dropdown-navigation.add_new li.level-1 {
    min-width: 55px;
}

li.li_editProducts {
    list-style: none;
    font-size: 2rem;
    line-height: 2.5rem;
}
.a_editProducts {
    position: absolute;
    margin-left: -40px;
    margin-top: 3px;
}
.a_editProducts img {
    width: 25px;
}

.products_view{
    width: 100%;
}
.products_view img, .products_view svg{
    width: 50px;
}
.products_view img {
    margin-top: -30px;
}

a.add_product img {
    width: 40px;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

    .c7n-logo {
        max-width: 33%;
        margin-top: 30px;
        margin-bottom: 30px;
    }

}


@media (min-width: 1200px) {
    #c7n-slider.c7n-small .c7n-slide {
        height: 550px;
    }
    #c7n-slider.c7n-small .c7n-slide.slide-home{
        height: 1045px;
    }
}

@media (min-width: 1400px) {
    .c7n-logo {
        max-width: 20%;
    }
}